**/*.map
**/*.min.css
**/*.min.js
assets/css/main.scss
assets/js/search-data.js
assets/js/distillpub/template.v2.js
assets/js/search/*.js
assets/plotly/demo.html
lighthouse_results/**
_sass/font-awesome/*.scss
_sass/tabler-icons/*.scss
_posts/pt-br/2023-10-5-First.md
_posts/en-us/2023-10-5-First.md
_posts/pt-br/2024-11-14-Guacamole.md
_posts/en-us/2024-11-14-Guacamole.md
_posts/en-us/2024-11-11-Audit-Sysmon.md
_posts/pt-br/2024-11-11-Audit-Sysmon.md
_posts/pt-br/2024-04-12-FNLocalCloud.md
_posts/en-us/2024-04-12-FNLocalCloud.md
_posts/en-us/2024-12-12-APT-UAP.md
_posts/pt-br/2024-12-12-APT-UAP.md
_posts/en-us/2024-06-25-FnStegoCrypt.md
_posts/pt-br/2024-06-25-FnStegoCrypt.md
_posts/en-us/2024-12-19-CVE-2024-35250.md
_posts/pt-br/2024-12-19-CVE-2024-35250.md
_draft/2024-11-14-Gitlab.md
_layouts/HTMLive.liquid
_pages/en-us/HTMLive.md
_pages/pt-br/HTMLive.md
_layouts/Differ.liquid
_pages/en-us/Differ.md
_pages/pt-br/Differ.md